[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
html5lib = "*"
pandas-profiling = {extras = ["notebook"], version = "*"}

[requires]
python_version = "3.8"
